RewriteEngine On 
RewriteBase /

RewriteCond %{SERVER_PORT} 80 
RewriteRule ^(.*)$ https://dodoapps.io/$1 [R,L]

RewriteCond %{HTTP_HOST} ^www.dodoapps.io [NC]
RewriteRule ^(.*)$ https://dodoapps.io/$1 [L,R=301]

RewriteRule ^dimensions/(.*)$ /vortech/$1 [R=301,NC,L]